<%- include('header'); -%>
<div class="thumbnail">
    <img src = <%= response %>>
</div>

<div class="center">
    <h1>
        <a href="/teacher/<%= lectureId %>/lecture">
            Go to Lecture
        </a>
    </h1>
</div>

<%- include('footer'); -%>