<%- include('header'); -%>
<link href="/css/displayQR.css" rel="stylesheet" type="text/css">
<div class="thumbnail">
    <img src = <%= response %>>
</div>

<div class="center">
    <h1>
        <a href="/teacher/<%= lectureId %>/lecture">
            Go to Lecture
        </a>
        <form action = "/teacher/refreshQR" method="POST">
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" id="refresh">Refresh!</button>
            </div>
        </form>
        <!-- <a href="/teacher/refreshQR" id ="refresh">Refresh!</a> -->
    </h1>
</div>

<script> setInterval(function () {document.getElementById("refresh").click();}, 30000) </script>

<%- include('footer'); -%>