<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>QR Attendance</title>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand">QR Attendance</a>
			</div>
		   <div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav navbar-right">
					<% if(!currentUser){ %>
						<li><a href="/login">Login</a></li>
						<li><a href="/register">Sign up</a></li>
						<% }else{ %>
					<li><a href="#">Signed In As <%= currentUser.username %></a> </li>
					<li><a href="/logout">Sign out</a></li>
				   <% } %>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<% if(error && error.length >0){ %>
			<div class="alert alert-danger" role="alert"><%= error %></div>
		<% } %>
	
	</div>
	
	<div class="container">
		<% if(success&&success.length>0){ %>
			<div class="alert alert-success" role="alert"><%= success %></div>
		<% }%>
	</div>