<%- include('header'); -%>
<link href="/css/landingStyle.css" rel="stylesheet" type="text/css">
    <div class = "container">
        <div id="teacher">
            <a href="/teacher/makeQR"><h1>TEACHER</h1> </a>
        </div>
        <div id="/student">
            <a href="/login"><h1>STUDENT</h1> </a>
        </div>
    </div>
<%- include('footer'); -%>