<%- include('header'); -%>
<div class="bigJ">
    <div class="jumbotron text-center">
        <h1>The QR Attendance App</h1>
        <p>Taking Attendance Made Easy!</p>
      </div>
</div>
<link href="/css/landingStyle.css" rel="stylesheet" type="text/css">
    <div class = "container studentTeacher">
        <div id="teacher">
            <a href="/teacher"><h1>TEACHER</h1> </a>
        </div>
        <div id="/student">
            <a href="/student"><h1>STUDENT</h1> </a>
        </div>
    </div>
<%- include('footer'); -%>