
.container{
    display: flex;
}

.studentTeacher div{ 
    display: flex ;
    justify-content: center;
    align-items: center;
}
.studentTeacher div{
    width: 50vw;
    height: 50vh;
    border: 1px solid black;
}
.jumbotron{
    height: 30vh;
    margin-bottom: 10px;
}

@media screen and (max-width : 600px){
    .studentTeacher div{
        width: 90vw;
        height: 45vh;
        border: 1px solid black;
        margin-right: 2px;
    }
    .studentTeacher{
        display: flex;
        flex-direction: column;
    }
}