.container{
    display: flex;
}

.container div h1{
    /* margin-left: 20%; */
    margin-top: 30%;
    /* height: auto; */
    text-align: center;
}
.container div{
    width: 50vw;
    height: 60vh;
    border: 1px solid black;
    margin-right: 2px;
}